<%= form_with(model: [ @comment, @comment.feedbacks.build ]) do |form| %>
  <p>
    <%= form.label :name1 %><br>
    <%= form.text_field :name1 %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>